html {
  font-size: 1em;
  font-family: Verdana, Helvetica, Sans-serif;
  color: #333333;
}

body {
  padding: 20px 0 20px 0;
}

#body_container {
  max-width: 900px;
  overflow: hidden;
}

.navbar {
  background-color: #333333;
  border-radius: 4px !important;
}
.navbar .navbar-brand {
  color: #eeeeee !important;
}
.navbar .navbar-brand:hover {
  color: #888888 !important;
}
.navbar .nav li > a {
  color: #eeeeee !important;
}
.navbar .nav li > a:hover {
  color: #888888 !important;
}
.navbar .navbar-collapse, .navbar .navbar-toggle {
  border-color: #222222 !important;
}
.navbar .navbar-toggle {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

#main_content, .content_container {
  max-width: 100%;
  float: left;
  position: relative;
  left: 50%;
}

.content_container {
  left: -50%;
}

#word_list_container {
  margin-left: 20%;
}
#word_list_container ol {
  padding-left: 30px;
}
#word_list_container li {
  color: #222222;
}
#word_list_container li.found {
  color: #777777;
}
#word_list_container li > span.highlight_toggle {
  color: #54a9cc;
}

#word_table_container {
  max-width: 100%;
  overflow-x: scroll;
  background-color: #333333;
  padding: 10px 10px 10px 7.5px;
}
#word_table_container table {
  width: 20px;
  height: 20px;
  table-layout: fixed;
}
#word_table_container .table_data, #word_table_container .table_header {
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #777777;
}
#word_table_container .table_header {
  font-size: 0.5em;
  color: white;
}
#word_table_container .row_match {
  border-bottom: solid 1px #54a9cc;
}
#word_table_container .column_match {
  border-left: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
}
#word_table_container .diagonal_match {
  color: #db2406;
}
#word_table_container .hover_match {
  background-color: #eeeeee;
}

#footer {
  clear: both;
  padding-top: 30px;
}
#footer #note {
  font-size: 1.5em;
}

#word_search_form .alert {
  display: none;
}
#word_search_form .alert #alert-list {
  padding-left: 15px;
}
#word_search_form .error {
  color: #db2406;
}
#word_search_form .form-control, #word_search_form #submit, #word_search_form label {
  font-family: Verdana, Helvetica, Sans-serif;
}
#word_search_form #form_upload_method {
  display: none;
}
#word_search_form .file_upload_box {
  background-color: #333333;
  text-align: center;
  color: #eeeeee;
}
#word_search_form .file_upload_box .file_upload_input {
  height: 150px;
}
#word_search_form .file_upload_box .file_upload_input label[for='word_search_form_file_upload'] {
  margin: 65px 0 30px 0;
}
#word_search_form .file_upload_box .file_upload_input label[for='word_search_form_file_upload'] strong:hover {
  color: #54a9cc;
}
#word_search_form .file_upload_box .file_upload_input label[for='word_search_form_file_upload'] .file_upload_dragndrop {
  color: #eeeeee;
  font-weight: 100;
}
#word_search_form .file_upload_box.has_advanced_upload {
  border-radius: 4px !important;
  outline: 2px dashed #eeeeee;
  outline-offset: -10px;
}
#word_search_form .file_upload_box.has_advanced_upload .file_upload_dragndrop {
  display: inline;
}
#word_search_form .file_upload_box.has_advanced_upload.is_dragover {
  background-color: #777777;
  outline-offset: -15px;
}
#word_search_form #word_search_form_file_upload {
  display: none;
}
#word_search_form .word_search_form_textarea {
  width: 100%;
  min-height: 200px;
  max-width: 100%;
  font-size: 1.1em;
}

.file_upload_dragndrop,
.file_upload_uploading,
.file_upload_success,
.file_upload_error {
  display: none;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px;
}

@media (min-width: 768px) {
  .navbar-header {
    border-right: 1px solid #222222;
  }

  #word_search_form {
    width: 100%;
  }
  #word_search_form .form-group {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  #word_search_form .word_search_form_textarea {
    min-height: 100px;
  }

  #footer #note {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  #word_list_container {
    padding-right: 20px;
    margin-left: 0px;
  }
}
