html {
  font-size: 1em;
  font-family: Verdana, Helvetica, Sans-serif;
  color: #333333;
}

body {
  padding: 20px 0 20px 0;
}

#body_container {
  max-width: 900px;
  overflow: hidden;
}

.navbar-header {
  border-right: solid 1px #eeeeee;
}

#main_content, .content_container {
  max-width: 100%;
  float: left;
  position: relative;
  left: 50%;
}

.content_container {
  left: -50%;
}

#word_list_container {
  margin-left: 20%;
}
#word_list_container ol {
  padding-left: 30px;
}
#word_list_container .found {
  color: #777777;
}
#word_list_container .highlight_toggle {
  color: #333333;
}

#word_table_container {
  max-width: 100%;
  overflow-x: scroll;
  background-color: #333333;
  padding: 10px 10px 10px 7.5px;
}
#word_table_container table {
  width: 20px;
  height: 20px;
  table-layout: fixed;
}
#word_table_container .table_data, #word_table_container .table_header {
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #777777;
}
#word_table_container .table_header {
  font-size: 0.5em;
  color: white;
}
#word_table_container .row_match {
  border-bottom: solid 1px #54a9cc;
}
#word_table_container .column_match {
  border-left: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
}
#word_table_container .diagonal_match {
  color: #db2406;
}
#word_table_container .hover_match {
  background-color: #eeeeee;
}

#footer {
  clear: both;
  padding-top: 30px;
}
#footer #note {
  font-size: 1.5em;
}

#word_search_form .alert {
  display: none;
}
#word_search_form .error {
  color: #db2406;
}
#word_search_form .word_search_form_textarea {
  width: 100%;
  min-height: 200px;
  max-width: 100%;
  font-size: 1.1em;
  font-family: Verdana, Helvetica, Sans-serif;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px;
}

@media (min-width: 768px) {
  #word_search_form {
    width: 100%;
  }
  #word_search_form .form-group {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  #word_search_form .word_search_form_textarea {
    min-height: 100px;
  }

  #footer #note {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  #word_list_container {
    padding-right: 20px;
    margin-left: 0px;
  }
}
