// Variables
$font_list:		Verdana, Helvetica, Sans-serif;
$dark_grey:		#333;
$light_grey:	#777;
$egg_white:		#eee;
$dark_red:		#DB2406;
$light_blue:	#54A9CC;

@mixin square_width_and_height {
	width: 20px;
	height: 20px;
}

html {
	font-size: 1em;
	font-family: $font_list;
	color: $dark_grey;
}

body {
	padding: 20px 0 20px 0;
}

#body_container {
	max-width: 900px;
	overflow: hidden;
}

// this gives the navbar brand a slight diving line
.navbar-header {
	border-right: solid 1px $egg_white;
}

//
// Main Content Styles
//

#main_content {
	max-width: 100%;
	float: left;
	position: relative;
	left: 50%;
}

.content_container {
	@extend #main_content;
	left: -50%;
}

#word_list_container {
	margin-left: 20%;
	
	ol {
		padding-left: 30px;
	}

	.found {
		color: $light_grey;
	}

	.highlight_toggle {
		color: $dark_grey;
	}
}

#word_table_container {
	max-width: 100%;
	overflow-x: scroll;
	background-color: $dark_grey;
	padding: 10px 10px 10px 7.5px;
	
	table {
		@include square_width_and_height;
		table-layout: fixed;
	}
	
	.table_data {
		@include square_width_and_height;
		text-align: center;
		vertical-align: middle;
		color: $light_grey;
	}
	
	.table_header {
		@extend .table_data;
		font-size: 0.5em;
		color: white;
	}

	.row_match {
		border-bottom: solid 1px $light_blue;
	}

	.column_match {
		border-left: solid 1px $egg_white;
		border-right: solid 1px $egg_white;
	}

	.diagonal_match {
		color: $dark_red;
	}

	.hover_match {
		background-color: $egg_white;
	}
}

//
// Footer Styles
//

#footer {
	clear: both;
	padding-top: 30px;

	#note {
		font-size: 1.5em;
	}
}

#word_search_form {
	.alert {
		display: none;
	}

	.error {
		color: $dark_red;
	}

	.word_search_form_textarea {
		width: 100%;
		min-height: 200px;
		max-width: 100%;
		font-size: 1.1em;
  		font-family: $font_list;
	}
}

// fixes a glitch with the nav collapse toggle button
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 6px;
}

//
// Desktop Styles
//

@media ( min-width: 768px ) {
	@mixin margin_centered {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}

	#word_search_form {
		width: 100%;
		
		.form-group {
			@include margin_centered;
		}
		
		.word_search_form_textarea {
			min-height: 100px;
		}
	}

	#footer #note {
		@include margin_centered;
	}

	#word_list_container {
		padding-right: 20px;
		margin-left: 0px;
	}
}